EndpointConnectionService/src/main/java/com/kunai/keyvault/crypto/voltage/vibesimple/VibeSimpleSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  name="VibeSimple"
  targetNamespace="http://voltage.com/vibesimple"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://voltage.com/vibesimple"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
<wsdl:types>
<xsd:schema targetNamespace="http://voltage.com/vibesimple">

<xsd:simpleType name="AuthMethod">
  <xsd:restriction base="xsd:token">
    <xsd:enumeration value="UserPassword"/>
    <xsd:enumeration value="SharedSecret"/>
    <xsd:enumeration value="Certificate"/>
    <xsd:enumeration value="AuthToken_HMAC_SHA1"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DataFormat">
  <xsd:restriction base="xsd:token">
    <xsd:enumeration value="Default"/>
    <xsd:enumeration value="SecureFileV1"/>
    <xsd:enumeration value="SecureFileV2"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DataRange">
  <xsd:sequence>
    <xsd:element name="data1" type="xsd:string"/>
    <xsd:element name="data2" type="xsd:string" nillable="true"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:element name="Fault">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="errorCode" type="xsd:int"/>
      <xsd:element name="errorString" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectDataResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:base64Binary"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectData">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:base64Binary"/>
      <xsd:element name="encryptIdentity" type="xsd:string" minOccurs="1" 
                   maxOccurs="unbounded"/>
      <xsd:element name="signIdentity" type="xsd:string"/>
      <xsd:element name="signAuthMethod" type="tns:AuthMethod"/>
      <xsd:element name="signAuthInfo" type="xsd:string"/>
      <xsd:element name="outputFormat" type="tns:DataFormat"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectUnsignedDataResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:base64Binary"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectUnsignedData">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:base64Binary"/>
      <xsd:element name="encryptIdentity" type="xsd:string" minOccurs="1" 
                   maxOccurs="unbounded"/>
      <xsd:element name="authenticationIdentity" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessDataResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:base64Binary"/>
      <xsd:element name="signIdentity" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessData">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:base64Binary"/>
      <xsd:element name="decryptIdentity" type="xsd:string"/>
      <xsd:element name="decryptAuthMethod" type="tns:AuthMethod"/>
      <xsd:element name="decryptAuthInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="GetAccessListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="identity" type="xsd:string" minOccurs="1"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="GetAccessList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:base64Binary"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectCreditCardNumberResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectCreditCardNumber">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="creditCardNumber" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessCreditCardNumberResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessCreditCardNumber">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="creditCardNumber" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="masked" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectSocialSecurityNumberResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectSocialSecurityNumber">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="socialSecurityNumber" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessSocialSecurityNumberResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessSocialSecurityNumber">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="socialSecurityNumber" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="masked" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectFormattedDataResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectFormattedData">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedData">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectCreditCardNumberListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectCreditCardNumberList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="creditCardNumber" type="xsd:string" 
                   maxOccurs="unbounded"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessCreditCardNumberListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessCreditCardNumberList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="creditCardNumber" type="xsd:string" 
                   maxOccurs="unbounded"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="masked" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectSocialSecurityNumberListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectSocialSecurityNumberList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="socialSecurityNumber" type="xsd:string" 
                   maxOccurs="unbounded"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessSocialSecurityNumberListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessSocialSecurityNumberList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="socialSecurityNumber" type="xsd:string" 
                   maxOccurs="unbounded"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="masked" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectFormattedDataListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectFormattedDataList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<!-- The protect V2 calls return an extra string OUT parameter for the FPE 
     calls. This parameter contains the full application identity string. 
     In order to make the wsdl easier to read, we redefine the request 
     parameters for the V2 calls. Currently they are identical to the original
     request parameters
 -->
<xsd:element name="ProtectCreditCardNumberV2Response">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
      <xsd:element name="fullApplicationIdentityOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectCreditCardNumberV2">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="creditCardNumber" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectSocialSecurityNumberV2Response">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
      <xsd:element name="fullApplicationIdentityOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectSocialSecurityNumberV2">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="socialSecurityNumber" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectFormattedDataV2Response">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
      <xsd:element name="fullApplicationIdentityOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectFormattedDataV2">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectCreditCardNumberListV2Response">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="fullApplicationIdentityOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectCreditCardNumberListV2">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="creditCardNumber" type="xsd:string" 
                   maxOccurs="unbounded"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectSocialSecurityNumberListV2Response">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="fullApplicationIdentityOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectSocialSecurityNumberListV2">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="socialSecurityNumber" type="xsd:string" 
                   maxOccurs="unbounded"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectFormattedDataListV2Response">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="fullApplicationIdentityOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectFormattedDataListV2">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<!-- The AccessFormattedData V2 calls provide an extra boolean masked parameter
     to mask decrypted formatted data. The response type is the same as for
     AccessFormattedData
 -->
<xsd:element name="AccessFormattedDataV2Response">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataV2">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="masked" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataListV2Response">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataListV2">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="masked" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<!-- ProtectGenericData, AccessGenericData, ProtectGenericDataList and
     AccessGenericDataList can be used to encrypt generic data (an array of
     bytes) using symmetric encryption. Unlike protectFormattedData, 
     protectCreditCardNumber and protectSocialSecurityNumber the encryption
     does not preserve the format - the output of an encryption is a 
     blob that contains meta-data in addition to the encrypted data. The
     meta-data consists of the fully qualified identity that was used for 
     encryption and an optional random tweak value that is generated by the
     web service. Because the fully qualified identity is saved in the output, 
     the data can be decrypted by a program even after the district is rolled 
     over or after the default Time used in the identity string has been 
     changed. Indeed, AccessGenericData does not require that you pass in the 
     identity or the tweak value (if you had set the generateTweak parameter to
     TRUE when you encrypted the data) that was used during encryption. Thus, 
     these calls are especially useful if you are unable to save the time of 
     encryption, or the district serial number that was used for the 
     encryption, or the full identity that was used for encryption using the 
     formatted data encryption calls. 

     Unlike the formatted data encryption calls, there is no format 
     specification during encryption because the encryption is a block-by-block
     encryption that does not preserve the format of the input data and, hence,
     is independent of the input data. The decryption calls accept a format 
     that is used to determine how to unmask the decrypted data. The data will
     be unmasked according to the format specification only if the decrypted
     data matches the format specified in the decryption call.

     Both the ProtectGenericData and AccessGenericData calls have one variant
     that encrypts and decrypts byte arrays (binary data) and another variant
     that encrypts and decrypts ASCII strings. The string variants are simply
     wrappers over the binary variants that encode the binary data in base64
     format.

     The ProtectGenericData and AccessGenericData is used for symmetric
     encryption, whereas ProtectData and AccessData are used for asymmetric
     encryption. Recall that in asymmetric encryption, the identity used for
     encryption can be different from the identity used for decryption.
     The algorithm parameter to the ProtectGenericData calls is currently 
     unused and must be set to null. The data is always encrypted using AES
     128-bit keys in CBC mode.

     You can use the GetGenericDataIdentity and GetGenericDataIdentityList 
     functions to retrieve the identity from the encrypted blob of data. These
     calls may be useful if the client program uses different authentication
     information for different identities and the client needs to determine
     which identity was used to encrypt the data.
-->
<xsd:element name="ProtectGenericDataResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:base64Binary"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectGenericData">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:base64Binary"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="generateTweak" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
      <xsd:element name="algorithm" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessGenericDataResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:base64Binary"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessGenericData">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:base64Binary"/>
      <xsd:element name="identity" nillable="true" type="xsd:string"/>
      <xsd:element name="maskingFormat" nillable="true" type="xsd:string"/>
      <xsd:element name="masked" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="GetGenericDataIdentityResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="identity" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="GetGenericDataIdentity">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:base64Binary"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectGenericDataListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:base64Binary" 
                   maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectGenericDataList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:base64Binary" 
                   minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="generateTweak" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
      <xsd:element name="algorithm" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessGenericDataListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:base64Binary" 
                   maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessGenericDataList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:base64Binary" 
                   minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="identity" nillable="true" type="xsd:string"/>
      <xsd:element name="maskingFormat" nillable="true" type="xsd:string"/>
      <xsd:element name="masked" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="GetGenericDataIdentityListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="identity" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="GetGenericDataIdentityList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:base64Binary" 
                   minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectGenericStringDataResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectGenericStringData">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="generateTweak" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
      <xsd:element name="algorithm" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessGenericStringDataResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessGenericStringData">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string"/>
      <xsd:element name="identity" nillable="true" type="xsd:string"/>
      <xsd:element name="maskingFormat" nillable="true" type="xsd:string"/>
      <xsd:element name="masked" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="GetGenericStringDataIdentityResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="identity" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="GetGenericStringDataIdentity">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectGenericStringDataListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectGenericStringDataList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string" 
                   minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="generateTweak" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
      <xsd:element name="algorithm" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessGenericStringDataListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessGenericStringDataList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string" 
                   minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="identity" nillable="true" type="xsd:string"/>
      <xsd:element name="maskingFormat" nillable="true" type="xsd:string"/>
      <xsd:element name="masked" nillable="true" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="GetGenericStringDataIdentityListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="identity" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="GetGenericStringDataIdentityList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string" 
                   minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<!-- The ProtectFormattedDataWithAllKeyNumbers encrypts the given input data
     with all the key numbers in the key rotation table assigned to the format.
 -->
<xsd:element name="ProtectFormattedDataWithAllKeyNumbers">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectFormattedDataWithAllKeyNumbersResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>
<xsd:element name="ProtectFormattedDataMultiplexedResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectFormattedDataMultiplexed">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
      <xsd:element name="primaryNamespace" type="xsd:string"/>
      <xsd:element name="secondaryNamespace" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataMultiplexedResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataMultiplexed">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
      <xsd:element name="primaryNamespace" type="xsd:string"/>
      <xsd:element name="secondaryNamespace" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataMultiplexedV2Response">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataMultiplexedV2">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="masked" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
      <xsd:element name="primaryNamespace" type="xsd:string"/>
      <xsd:element name="secondaryNamespace" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectFormattedDataListMultiplexedResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectFormattedDataListMultiplexed">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
      <xsd:element name="primaryNamespace" type="xsd:string"/>
      <xsd:element name="secondaryNamespace" type ="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataListMultiplexedResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataListMultiplexed">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
      <xsd:element name="primaryNamespace" type="xsd:string"/>
      <xsd:element name="secondaryNamespace" type ="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataListMultiplexedV2Response">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataListMultiplexedV2">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="format" nillable="true" type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="masked" type="xsd:boolean"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
      <xsd:element name="primaryNamespace" type="xsd:string"/>
      <xsd:element name="secondaryNamespace" type ="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="EchoDataResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="EchoData">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="EchoDataListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="EchoDataList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ProtectFormattedDataRangeList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn"  type="tns:DataRange" maxOccurs="unbounded"/>
      <xsd:element name="format"  type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:element>

<xsd:element name="ProtectFormattedDataRangeListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="tns:DataRange" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataRangeList">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataIn"  type="tns:DataRange" maxOccurs="unbounded"/>
      <xsd:element name="format"  type="xsd:string"/>
      <xsd:element name="identity" type="xsd:string"/>
      <xsd:element name="tweak" nillable="true" type="xsd:string"/>
      <xsd:element name="authMethod" type="tns:AuthMethod"/>
      <xsd:element name="authInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="AccessFormattedDataRangeListResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dataOut" type="tns:DataRange" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

</xsd:schema>
</wsdl:types>

<wsdl:message name="ProtectDataResponse">
  <wsdl:part name="parameters" element="tns:ProtectDataResponse"/>
</wsdl:message>
<wsdl:message name="ProtectDataRequest">
  <wsdl:part name="parameters" element="tns:ProtectData"/>
</wsdl:message>
<wsdl:message name="ProtectUnsignedDataResponse">
  <wsdl:part name="parameters" element="tns:ProtectUnsignedDataResponse"/>
</wsdl:message>
<wsdl:message name="ProtectUnsignedDataRequest">
  <wsdl:part name="parameters" element="tns:ProtectUnsignedData"/>
</wsdl:message>
<wsdl:message name="AccessDataResponse">
  <wsdl:part name="parameters" element="tns:AccessDataResponse"/>
</wsdl:message>
<wsdl:message name="AccessDataRequest">
  <wsdl:part name="parameters" element="tns:AccessData"/>
</wsdl:message>
<wsdl:message name="GetAccessListResponse">
  <wsdl:part name="parameters" element="tns:GetAccessListResponse"/>
</wsdl:message>
<wsdl:message name="GetAccessListRequest">
  <wsdl:part name="parameters" element="tns:GetAccessList"/>
</wsdl:message>

<wsdl:message name="ProtectCreditCardNumberResponse">
  <wsdl:part name="parameters" element="tns:ProtectCreditCardNumberResponse"/>
</wsdl:message>
<wsdl:message name="ProtectCreditCardNumberRequest">
  <wsdl:part name="parameters" element="tns:ProtectCreditCardNumber"/>
</wsdl:message>
<wsdl:message name="AccessCreditCardNumberResponse">
  <wsdl:part name="parameters" element="tns:AccessCreditCardNumberResponse"/>
</wsdl:message>
<wsdl:message name="AccessCreditCardNumberRequest">
  <wsdl:part name="parameters" element="tns:AccessCreditCardNumber"/>
</wsdl:message>
<wsdl:message name="ProtectSocialSecurityNumberResponse">
  <wsdl:part name="parameters" 
             element="tns:ProtectSocialSecurityNumberResponse"/>
</wsdl:message>
<wsdl:message name="ProtectSocialSecurityNumberRequest">
  <wsdl:part name="parameters" element="tns:ProtectSocialSecurityNumber"/>
</wsdl:message>
<wsdl:message name="AccessSocialSecurityNumberResponse">
  <wsdl:part name="parameters" 
             element="tns:AccessSocialSecurityNumberResponse"/>
</wsdl:message>
<wsdl:message name="AccessSocialSecurityNumberRequest">
  <wsdl:part name="parameters" element="tns:AccessSocialSecurityNumber"/>
</wsdl:message>
<wsdl:message name="ProtectFormattedDataResponse">
  <wsdl:part name="parameters" element="tns:ProtectFormattedDataResponse"/>
</wsdl:message>
<wsdl:message name="ProtectFormattedDataRequest">
  <wsdl:part name="parameters" element="tns:ProtectFormattedData"/>
</wsdl:message>
<wsdl:message name="AccessFormattedDataResponse">
  <wsdl:part name="parameters" element="tns:AccessFormattedDataResponse"/>
</wsdl:message>
<wsdl:message name="AccessFormattedDataRequest">
  <wsdl:part name="parameters" element="tns:AccessFormattedData"/>
</wsdl:message>

<wsdl:message name="ProtectCreditCardNumberListResponse">
  <wsdl:part name="parameters" 
             element="tns:ProtectCreditCardNumberListResponse"/>
</wsdl:message>
<wsdl:message name="ProtectCreditCardNumberListRequest">
  <wsdl:part name="parameters" element="tns:ProtectCreditCardNumberList"/>
</wsdl:message>
<wsdl:message name="AccessCreditCardNumberListResponse">
  <wsdl:part name="parameters" 
             element="tns:AccessCreditCardNumberListResponse"/>
</wsdl:message>
<wsdl:message name="AccessCreditCardNumberListRequest">
  <wsdl:part name="parameters" element="tns:AccessCreditCardNumberList"/>
</wsdl:message>
<wsdl:message name="ProtectSocialSecurityNumberListResponse">
  <wsdl:part name="parameters" 
             element="tns:ProtectSocialSecurityNumberListResponse"/>
</wsdl:message>
<wsdl:message name="ProtectSocialSecurityNumberListRequest">
  <wsdl:part name="parameters" element="tns:ProtectSocialSecurityNumberList"/>
</wsdl:message>
<wsdl:message name="AccessSocialSecurityNumberListResponse">
  <wsdl:part name="parameters" 
             element="tns:AccessSocialSecurityNumberListResponse"/>
</wsdl:message>
<wsdl:message name="AccessSocialSecurityNumberListRequest">
  <wsdl:part name="parameters" element="tns:AccessSocialSecurityNumberList"/>
</wsdl:message>
<wsdl:message name="ProtectFormattedDataListResponse">
  <wsdl:part name="parameters" element="tns:ProtectFormattedDataListResponse"/>
</wsdl:message>
<wsdl:message name="ProtectFormattedDataListRequest">
  <wsdl:part name="parameters" element="tns:ProtectFormattedDataList"/>
</wsdl:message>
<wsdl:message name="AccessFormattedDataListResponse">
  <wsdl:part name="parameters" element="tns:AccessFormattedDataListResponse"/>
</wsdl:message>
<wsdl:message name="AccessFormattedDataListRequest">
  <wsdl:part name="parameters" element="tns:AccessFormattedDataList"/>
</wsdl:message>

<!-- The Protect V2 calls return an extra string OUT parameter for the FPE 
     calls. This parameter contains the full application identity string. 
     In order to make the wsdl easier to read, we redefine the request 
     parameters for the V2 calls. Currently they are identical to the original
     request parameters.
 -->
<wsdl:message name="ProtectCreditCardNumberV2Response">
  <wsdl:part name="parameters" 
             element="tns:ProtectCreditCardNumberV2Response"/>
</wsdl:message>
<wsdl:message name="ProtectCreditCardNumberV2Request">
  <wsdl:part name="parameters" element="tns:ProtectCreditCardNumberV2"/>
</wsdl:message>
<wsdl:message name="ProtectSocialSecurityNumberV2Response">
  <wsdl:part name="parameters" 
             element="tns:ProtectSocialSecurityNumberV2Response"/>
</wsdl:message>
<wsdl:message name="ProtectSocialSecurityNumberV2Request">
  <wsdl:part name="parameters" element="tns:ProtectSocialSecurityNumberV2"/>
</wsdl:message>
<wsdl:message name="ProtectFormattedDataV2Response">
  <wsdl:part name="parameters" element="tns:ProtectFormattedDataV2Response"/>
</wsdl:message>
<wsdl:message name="ProtectFormattedDataV2Request">
  <wsdl:part name="parameters" element="tns:ProtectFormattedDataV2"/>
</wsdl:message>

<wsdl:message name="ProtectCreditCardNumberListV2Response">
  <wsdl:part name="parameters" 
             element="tns:ProtectCreditCardNumberListV2Response"/>
</wsdl:message>
<wsdl:message name="ProtectCreditCardNumberListV2Request">
  <wsdl:part name="parameters" element="tns:ProtectCreditCardNumberListV2"/>
</wsdl:message>
<wsdl:message name="ProtectSocialSecurityNumberListV2Response">
  <wsdl:part name="parameters" 
             element="tns:ProtectSocialSecurityNumberListV2Response"/>
</wsdl:message>
<wsdl:message name="ProtectSocialSecurityNumberListV2Request">
  <wsdl:part name="parameters" 
             element="tns:ProtectSocialSecurityNumberListV2"/>
</wsdl:message>
<wsdl:message name="ProtectFormattedDataListV2Response">
  <wsdl:part name="parameters" 
             element="tns:ProtectFormattedDataListV2Response"/>
</wsdl:message>
<wsdl:message name="ProtectFormattedDataListV2Request">
  <wsdl:part name="parameters" element="tns:ProtectFormattedDataListV2"/>
</wsdl:message>

<!-- The AccessFormattedData V2 calls provide a boolean masked parameter to
     mask decrypted formatted data
 -->
<wsdl:message name="AccessFormattedDataV2Response">
  <wsdl:part name="parameters" element="tns:AccessFormattedDataV2Response"/>
</wsdl:message>
<wsdl:message name="AccessFormattedDataV2Request">
  <wsdl:part name="parameters" element="tns:AccessFormattedDataV2"/>
</wsdl:message>
<wsdl:message name="AccessFormattedDataListV2Response">
  <wsdl:part name="parameters" element="tns:AccessFormattedDataListV2Response"/>
</wsdl:message>
<wsdl:message name="AccessFormattedDataListV2Request">
  <wsdl:part name="parameters" element="tns:AccessFormattedDataListV2"/>
</wsdl:message>

<!-- The GenericData and GenericStringData calls encrypt data using symmetric
     encryption and wrap the encrypted data with additional meta-data so that
     a decryption program does not need to keep track of the fully qualified
     identity that was used during encryption
 -->
<wsdl:message name="ProtectGenericDataResponse">
  <wsdl:part name="parameters" element="tns:ProtectGenericDataResponse"/>
</wsdl:message>
<wsdl:message name="ProtectGenericDataRequest">
  <wsdl:part name="parameters" element="tns:ProtectGenericData"/>
</wsdl:message>
<wsdl:message name="AccessGenericDataResponse">
  <wsdl:part name="parameters" element="tns:AccessGenericDataResponse"/>
</wsdl:message>
<wsdl:message name="AccessGenericDataRequest">
  <wsdl:part name="parameters" element="tns:AccessGenericData"/>
</wsdl:message>
<wsdl:message name="GetGenericDataIdentityResponse">
  <wsdl:part name="parameters" element="tns:GetGenericDataIdentityResponse"/>
</wsdl:message>
<wsdl:message name="GetGenericDataIdentityRequest">
  <wsdl:part name="parameters" element="tns:GetGenericDataIdentity"/>
</wsdl:message>
<wsdl:message name="ProtectGenericStringDataResponse">
  <wsdl:part name="parameters" element="tns:ProtectGenericStringDataResponse"/>
</wsdl:message>
<wsdl:message name="ProtectGenericStringDataRequest">
  <wsdl:part name="parameters" element="tns:ProtectGenericStringData"/>
</wsdl:message>
<wsdl:message name="AccessGenericStringDataResponse">
  <wsdl:part name="parameters" element="tns:AccessGenericStringDataResponse"/>
</wsdl:message>
<wsdl:message name="AccessGenericStringDataRequest">
  <wsdl:part name="parameters" element="tns:AccessGenericStringData"/>
</wsdl:message>
<wsdl:message name="GetGenericStringDataIdentityResponse">
  <wsdl:part name="parameters" 
             element="tns:GetGenericStringDataIdentityResponse"/>
</wsdl:message>
<wsdl:message name="GetGenericStringDataIdentityRequest">
  <wsdl:part name="parameters" element="tns:GetGenericStringDataIdentity"/>
</wsdl:message>
<wsdl:message name="ProtectGenericDataListResponse">
  <wsdl:part name="parameters" element="tns:ProtectGenericDataListResponse"/>
</wsdl:message>
<wsdl:message name="ProtectGenericDataListRequest">
  <wsdl:part name="parameters" element="tns:ProtectGenericDataList"/>
</wsdl:message>
<wsdl:message name="AccessGenericDataListResponse">
  <wsdl:part name="parameters" element="tns:AccessGenericDataListResponse"/>
</wsdl:message>
<wsdl:message name="AccessGenericDataListRequest">
  <wsdl:part name="parameters" element="tns:AccessGenericDataList"/>
</wsdl:message>
<wsdl:message name="GetGenericDataIdentityListResponse">
  <wsdl:part name="parameters" 
             element="tns:GetGenericDataIdentityListResponse"/>
</wsdl:message>
<wsdl:message name="GetGenericDataIdentityListRequest">
  <wsdl:part name="parameters" element="tns:GetGenericDataIdentityList"/>
</wsdl:message>
<wsdl:message name="ProtectGenericStringDataListResponse">
  <wsdl:part name="parameters" 
             element="tns:ProtectGenericStringDataListResponse"/>
</wsdl:message>
<wsdl:message name="ProtectGenericStringDataListRequest">
  <wsdl:part name="parameters" element="tns:ProtectGenericStringDataList"/>
</wsdl:message>
<wsdl:message name="AccessGenericStringDataListResponse">
  <wsdl:part name="parameters" 
             element="tns:AccessGenericStringDataListResponse"/>
</wsdl:message>
<wsdl:message name="AccessGenericStringDataListRequest">
  <wsdl:part name="parameters" element="tns:AccessGenericStringDataList"/>
</wsdl:message>
<wsdl:message name="GetGenericStringDataIdentityListResponse">
  <wsdl:part name="parameters" 
             element="tns:GetGenericStringDataIdentityListResponse"/>
</wsdl:message>
<wsdl:message name="GetGenericStringDataIdentityListRequest">
  <wsdl:part name="parameters" element="tns:GetGenericStringDataIdentityList"/>
</wsdl:message>

<!-- The ProtectFormattedDataWithAllKeyNumbers encrypts the given input data
     with all the key numbers in the key rotation table assigned to the format.
 -->
<wsdl:message name="ProtectFormattedDataWithAllKeyNumbersRequest">
  <wsdl:part name="parameters" 
             element="tns:ProtectFormattedDataWithAllKeyNumbers"/>
</wsdl:message>
<wsdl:message name="ProtectFormattedDataWithAllKeyNumbersResponse">
  <wsdl:part name="parameters" 
             element="tns:ProtectFormattedDataWithAllKeyNumbersResponse"/>
</wsdl:message>

<wsdl:message name="ProtectFormattedDataMultiplexedRequest">
  <wsdl:part name="parameters"
             element="tns:ProtectFormattedDataMultiplexed"/>          
</wsdl:message>
<wsdl:message name="ProtectFormattedDataMultiplexedResponse">
  <wsdl:part name="parameters"
             element="tns:ProtectFormattedDataMultiplexedResponse"/>          
</wsdl:message>
<wsdl:message name="ProtectFormattedDataListMultiplexedRequest">
  <wsdl:part name="parameters"
             element="tns:ProtectFormattedDataListMultiplexed"/>          
</wsdl:message>
<wsdl:message name="ProtectFormattedDataListMultiplexedResponse">
  <wsdl:part name="parameters"
             element="tns:ProtectFormattedDataListMultiplexedResponse"/>          
</wsdl:message>
<wsdl:message name="AccessFormattedDataMultiplexedRequest">
  <wsdl:part name="parameters"
             element="tns:AccessFormattedDataMultiplexed"/>          
</wsdl:message>
<wsdl:message name="AccessFormattedDataMultiplexedResponse">
  <wsdl:part name="parameters"
             element="tns:AccessFormattedDataMultiplexedResponse"/>          
</wsdl:message>
<wsdl:message name="AccessFormattedDataMultiplexedV2Request">
  <wsdl:part name="parameters"
             element="tns:AccessFormattedDataMultiplexedV2"/>          
</wsdl:message>
<wsdl:message name="AccessFormattedDataMultiplexedV2Response">
  <wsdl:part name="parameters"
             element="tns:AccessFormattedDataMultiplexedV2Response"/>          
</wsdl:message>
<wsdl:message name="AccessFormattedDataListMultiplexedRequest">
  <wsdl:part name="parameters"
             element="tns:AccessFormattedDataListMultiplexed"/>          
</wsdl:message>
<wsdl:message name="AccessFormattedDataListMultiplexedResponse">
  <wsdl:part name="parameters"
             element="tns:AccessFormattedDataListMultiplexedResponse"/>          
</wsdl:message>
<wsdl:message name="AccessFormattedDataListMultiplexedV2Request">
  <wsdl:part name="parameters"
             element="tns:AccessFormattedDataListMultiplexedV2"/>          
</wsdl:message>
<wsdl:message name="AccessFormattedDataListMultiplexedV2Response">
  <wsdl:part name="parameters"
             element="tns:AccessFormattedDataListMultiplexedV2Response"/>          
</wsdl:message>
<wsdl:message name="EchoDataRequest">
  <wsdl:part name="parameters"
             element="tns:EchoData"/>          
</wsdl:message>
<wsdl:message name="EchoDataResponse">
  <wsdl:part name="parameters"
             element="tns:EchoDataResponse"/>
</wsdl:message>
<wsdl:message name="EchoDataListRequest">
  <wsdl:part name="parameters"
             element="tns:EchoDataList"/>          
</wsdl:message>
<wsdl:message name="EchoDataListResponse">
  <wsdl:part name="parameters"
             element="tns:EchoDataListResponse"/>          
</wsdl:message>
<wsdl:message name="FaultResponse">
  <wsdl:part name="parameters" element="tns:Fault"/>
</wsdl:message>
<wsdl:message name="ProtectFormattedDataRangeListRequest">
  <wsdl:part name="parameters"
             element="tns:ProtectFormattedDataRangeList"/>
</wsdl:message>
<wsdl:message name="ProtectFormattedDataRangeListResponse">
  <wsdl:part name="parameters"
             element="tns:ProtectFormattedDataRangeListResponse"/>
</wsdl:message>
<wsdl:message name="AccessFormattedDataRangeListRequest">
  <wsdl:part name="parameters"
             element="tns:AccessFormattedDataRangeList"/>
</wsdl:message>
<wsdl:message name="AccessFormattedDataRangeListResponse">
  <wsdl:part name="parameters"
             element="tns:AccessFormattedDataRangeListResponse"/>
</wsdl:message>
<wsdl:portType name="VibeSimple">

<wsdl:operation name="ProtectData">
  <wsdl:input message="tns:ProtectDataRequest"/>
  <wsdl:output message="tns:ProtectDataResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectUnsignedData">
  <wsdl:input message="tns:ProtectUnsignedDataRequest"/>
  <wsdl:output message="tns:ProtectUnsignedDataResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessData">
  <wsdl:input message="tns:AccessDataRequest"/>
  <wsdl:output message="tns:AccessDataResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="GetAccessList">
  <wsdl:input message="tns:GetAccessListRequest"/>
  <wsdl:output message="tns:GetAccessListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectCreditCardNumber">
  <wsdl:input message="tns:ProtectCreditCardNumberRequest"/>
  <wsdl:output message="tns:ProtectCreditCardNumberResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessCreditCardNumber">
  <wsdl:input message="tns:AccessCreditCardNumberRequest"/>
  <wsdl:output message="tns:AccessCreditCardNumberResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectSocialSecurityNumber">
  <wsdl:input message="tns:ProtectSocialSecurityNumberRequest"/>
  <wsdl:output message="tns:ProtectSocialSecurityNumberResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessSocialSecurityNumber">
  <wsdl:input message="tns:AccessSocialSecurityNumberRequest"/>
  <wsdl:output message="tns:AccessSocialSecurityNumberResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectFormattedData">
  <wsdl:input message="tns:ProtectFormattedDataRequest"/>
  <wsdl:output message="tns:ProtectFormattedDataResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessFormattedData">
  <wsdl:input message="tns:AccessFormattedDataRequest"/>
  <wsdl:output message="tns:AccessFormattedDataResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectCreditCardNumberList">
  <wsdl:input message="tns:ProtectCreditCardNumberListRequest"/>
  <wsdl:output message="tns:ProtectCreditCardNumberListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessCreditCardNumberList">
  <wsdl:input message="tns:AccessCreditCardNumberListRequest"/>
  <wsdl:output message="tns:AccessCreditCardNumberListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectSocialSecurityNumberList">
  <wsdl:input message="tns:ProtectSocialSecurityNumberListRequest"/>
  <wsdl:output message="tns:ProtectSocialSecurityNumberListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessSocialSecurityNumberList">
  <wsdl:input message="tns:AccessSocialSecurityNumberListRequest"/>
  <wsdl:output message="tns:AccessSocialSecurityNumberListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectFormattedDataList">
  <wsdl:input message="tns:ProtectFormattedDataListRequest"/>
  <wsdl:output message="tns:ProtectFormattedDataListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessFormattedDataList">
  <wsdl:input message="tns:AccessFormattedDataListRequest"/>
  <wsdl:output message="tns:AccessFormattedDataListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>

<!-- The Protect V2 calls return an extra string OUT parameter for the FPE 
     calls. This parameter contains the full application identity string
     In order to make the wsdl easier to read, we redefine the request 
     parameters for the V2 calls. Currently they are identical to the original
     request parameters.
 -->
<wsdl:operation name="ProtectCreditCardNumberV2">
  <wsdl:input message="tns:ProtectCreditCardNumberV2Request"/>
  <wsdl:output message="tns:ProtectCreditCardNumberV2Response"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectSocialSecurityNumberV2">
  <wsdl:input message="tns:ProtectSocialSecurityNumberV2Request"/>
  <wsdl:output message="tns:ProtectSocialSecurityNumberV2Response"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectFormattedDataV2">
  <wsdl:input message="tns:ProtectFormattedDataV2Request"/>
  <wsdl:output message="tns:ProtectFormattedDataV2Response"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectCreditCardNumberListV2">
  <wsdl:input message="tns:ProtectCreditCardNumberListV2Request"/>
  <wsdl:output message="tns:ProtectCreditCardNumberListV2Response"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectSocialSecurityNumberListV2">
  <wsdl:input message="tns:ProtectSocialSecurityNumberListV2Request"/>
  <wsdl:output message="tns:ProtectSocialSecurityNumberListV2Response"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectFormattedDataListV2">
  <wsdl:input message="tns:ProtectFormattedDataListV2Request"/>
  <wsdl:output message="tns:ProtectFormattedDataListV2Response"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>

<!-- The AccessFormattedData V2 calls provide an extra boolean masked parameter
     to mask decrypted formatted data. The response type is the same as the
     AccessFormattedData calls
 -->
<wsdl:operation name="AccessFormattedDataV2">
  <wsdl:input message="tns:AccessFormattedDataV2Request"/>
  <wsdl:output message="tns:AccessFormattedDataV2Response"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessFormattedDataListV2">
  <wsdl:input message="tns:AccessFormattedDataListV2Request"/>
  <wsdl:output message="tns:AccessFormattedDataListV2Response"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>

<!-- The GenericData and GenericStringData calls encrypt data using symmetric
     encryption and wrap the encrypted data with additional meta-data so that
     a decryption program does not need to keep track of the fully qualified
     identity that was used during encryption
 -->
<wsdl:operation name="ProtectGenericData">
  <wsdl:input message="tns:ProtectGenericDataRequest"/>
  <wsdl:output message="tns:ProtectGenericDataResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessGenericData">
  <wsdl:input message="tns:AccessGenericDataRequest"/>
  <wsdl:output message="tns:AccessGenericDataResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="GetGenericDataIdentity">
  <wsdl:input message="tns:GetGenericDataIdentityRequest"/>
  <wsdl:output message="tns:GetGenericDataIdentityResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectGenericStringData">
  <wsdl:input message="tns:ProtectGenericStringDataRequest"/>
  <wsdl:output message="tns:ProtectGenericStringDataResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessGenericStringData">
  <wsdl:input message="tns:AccessGenericStringDataRequest"/>
  <wsdl:output message="tns:AccessGenericStringDataResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="GetGenericStringDataIdentity">
  <wsdl:input message="tns:GetGenericStringDataIdentityRequest"/>
  <wsdl:output message="tns:GetGenericStringDataIdentityResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectGenericDataList">
  <wsdl:input message="tns:ProtectGenericDataListRequest"/>
  <wsdl:output message="tns:ProtectGenericDataListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessGenericDataList">
  <wsdl:input message="tns:AccessGenericDataListRequest"/>
  <wsdl:output message="tns:AccessGenericDataListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="GetGenericDataIdentityList">
  <wsdl:input message="tns:GetGenericDataIdentityListRequest"/>
  <wsdl:output message="tns:GetGenericDataIdentityListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectGenericStringDataList">
  <wsdl:input message="tns:ProtectGenericStringDataListRequest"/>
  <wsdl:output message="tns:ProtectGenericStringDataListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessGenericStringDataList">
  <wsdl:input message="tns:AccessGenericStringDataListRequest"/>
  <wsdl:output message="tns:AccessGenericStringDataListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="GetGenericStringDataIdentityList">
  <wsdl:input message="tns:GetGenericStringDataIdentityListRequest"/>
  <wsdl:output message="tns:GetGenericStringDataIdentityListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectFormattedDataWithAllKeyNumbers">
  <wsdl:input message="tns:ProtectFormattedDataWithAllKeyNumbersRequest"/>
  <wsdl:output message="tns:ProtectFormattedDataWithAllKeyNumbersResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectFormattedDataMultiplexed">
  <wsdl:input message="tns:ProtectFormattedDataMultiplexedRequest"/>
  <wsdl:output message="tns:ProtectFormattedDataMultiplexedResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectFormattedDataListMultiplexed">
  <wsdl:input message="tns:ProtectFormattedDataListMultiplexedRequest"/>
  <wsdl:output message="tns:ProtectFormattedDataListMultiplexedResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessFormattedDataMultiplexed">
  <wsdl:input message="tns:AccessFormattedDataMultiplexedRequest"/>
  <wsdl:output message="tns:AccessFormattedDataMultiplexedResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessFormattedDataListMultiplexed">
  <wsdl:input message="tns:AccessFormattedDataListMultiplexedRequest"/>
  <wsdl:output message="tns:AccessFormattedDataListMultiplexedResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessFormattedDataMultiplexedV2">
  <wsdl:input message="tns:AccessFormattedDataMultiplexedV2Request"/>
  <wsdl:output message="tns:AccessFormattedDataMultiplexedV2Response"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessFormattedDataListMultiplexedV2">
  <wsdl:input message="tns:AccessFormattedDataListMultiplexedV2Request"/>
  <wsdl:output message="tns:AccessFormattedDataListMultiplexedV2Response"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="EchoData">
  <wsdl:input message="tns:EchoDataRequest"/>
  <wsdl:output message="tns:EchoDataResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="EchoDataList">
  <wsdl:input message="tns:EchoDataListRequest"/>
  <wsdl:output message="tns:EchoDataListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="ProtectFormattedDataRangeList">
  <wsdl:input message="tns:ProtectFormattedDataRangeListRequest"/>
  <wsdl:output message="tns:ProtectFormattedDataRangeListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>
<wsdl:operation name="AccessFormattedDataRangeList">
  <wsdl:input message="tns:AccessFormattedDataRangeListRequest"/>
  <wsdl:output message="tns:AccessFormattedDataRangeListResponse"/>
  <wsdl:fault name="Fault" message="tns:FaultResponse"/>
</wsdl:operation>

</wsdl:portType>

<wsdl:binding name="VibeSimpleSOAP" type="tns:VibeSimple">
<soap:binding style="document" 
              transport="http://schemas.xmlsoap.org/soap/http"/>

<wsdl:operation name="ProtectData">
  <soap:operation soapAction="http://voltage.com/vibesimple/ProtectData"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectUnsignedData">
  <soap:operation soapAction="http://voltage.com/vibesimple/ProtectUnsignedData"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessData">
  <soap:operation soapAction="http://voltage.com/vibesimple/AccessData"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="GetAccessList">
  <soap:operation soapAction="http://voltage.com/vibesimple/GetAccessList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectCreditCardNumber">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectCreditCardNumber"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessCreditCardNumber">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessCreditCardNumber"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectSocialSecurityNumber">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectSocialSecurityNumber"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessSocialSecurityNumber">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessSocialSecurityNumber"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectFormattedData">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectFormattedData"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessFormattedData">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessFormattedData"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectCreditCardNumberList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectCreditCardNumberList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessCreditCardNumberList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessCreditCardNumberList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectSocialSecurityNumberList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectSocialSecurityNumberList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessSocialSecurityNumberList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessSocialSecurityNumberList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectFormattedDataList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectFormattedDataList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessFormattedDataList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessFormattedDataList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectCreditCardNumberV2">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectCreditCardNumberV2"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectSocialSecurityNumberV2">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectSocialSecurityNumberV2"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectFormattedDataV2">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectFormattedDataV2"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectCreditCardNumberListV2">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectCreditCardNumberListV2"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectSocialSecurityNumberListV2">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectSocialSecurityNumberListV2"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectFormattedDataListV2">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectFormattedDataListV2"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessFormattedDataV2">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessFormattedDataV2"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessFormattedDataListV2">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessFormattedDataListV2"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectGenericData">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectGenericData"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessGenericData">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessGenericData"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="GetGenericDataIdentity">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/GetGenericDataIdentity"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectGenericStringData">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectGenericStringData"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessGenericStringData">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessGenericStringData"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="GetGenericStringDataIdentity">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/GetGenericStringDataIdentity"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectGenericDataList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectGenericDataList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessGenericDataList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessGenericDataList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="GetGenericDataIdentityList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/GetGenericDataIdentityList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectGenericStringDataList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectGenericStringDataList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessGenericStringDataList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessGenericStringDataList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="GetGenericStringDataIdentityList">
  <soap:operation 
    soapAction=
      "http://voltage.com/vibesimple/GetGenericStringDataIdentityList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectFormattedDataWithAllKeyNumbers">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectFormattedDataWithAllKeyNumbers"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectFormattedDataMultiplexed">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectFormattedDataMultiplexed"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectFormattedDataListMultiplexed">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectFormattedDataListMultiplexed"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessFormattedDataMultiplexed">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessFormattedDataMultiplexed"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessFormattedDataListMultiplexed">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessFormattedDataListMultiplexed"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessFormattedDataMultiplexedV2">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessFormattedDataMultiplexedV2"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessFormattedDataListMultiplexedV2">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessFormattedDataListMultiplexedV2"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="EchoData">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/EchoData"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="EchoDataList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/EchoDataList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="ProtectFormattedDataRangeList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/ProtectFormattedDataRangeList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>

<wsdl:operation name="AccessFormattedDataRangeList">
  <soap:operation 
    soapAction="http://voltage.com/vibesimple/AccessFormattedDataRangeList"/>
  <wsdl:input>
    <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output>
    <soap:body use="literal"/>
  </wsdl:output>
  <wsdl:fault name="Fault" >
    <soap:fault name="Fault" use="literal"/>
  </wsdl:fault>
</wsdl:operation>
</wsdl:binding>

<wsdl:service name="VibeSimple">
  <wsdl:port binding="tns:VibeSimpleSOAP" name="VibeSimpleSOAP">
    <soap:address location="https://10.111.109.30:443/vibesimple/services/VibeSimpleSOAP"/>
  </wsdl:port>
</wsdl:service>

</wsdl:definitions>
